<html>

<head>
    <title>대체?</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <img src="/wtf.jpg" style="width: 20%;"/>
    <div>
        <h1>뭔가 잘못되어 가고 있네요...</h1>
        <div>
            <p>대체 어떻게 이 페이지를 찾은 거죠?</p>
            <p>무슨 속셈인지 모르겠지만 제발 멈춰 주세요...</p>
        </div>
    </div>
</body>

</html>